{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'gameplay/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COUP</title>
</head>
<body>
    <div>
        <h1>COUP</h1>
    </div>
    <div class="gameContainer">
        <div class="gameplay">
            <h1>Game Play</h1>
            <h2>{{ myPlayer.name }} Claims:</h2>
            <div class="flexRowContainer">
                <div class="PlayerCardImg">
                    <h1>Player Card</h1>
                </div>
                <div class="PlayerCardImg">
                    <h1>Player Action</h1>
                </div>
            </div>
            <div class="flexRowContainer">
                <button type="submit">Accept</button>
                <button type="submit">Challenge</button>
            </div>
        </div>
        <div class="player">
            <h1>{{ myPlayer.name }}</h1>
            <div class="flexRowContainer">
                <div class="playerCardImg" id="playerCard1">
                    <h1>{{ myPlayer.card1 }}</h1>
                </div>
                <div class="playerCardImg" id="playerCard2">
                    <h1>{{ myPlayer.card2 }}</h1>
                </div>
            </div>
            <div class="flexRowContainer">
                <h1>Coins: </h1>
                <h1>{{ myPlayer.coins }}</h1>
            </div>
        </div>
    </div>
    <div class="gameState">
        <h1>Game State</h1>
        <div class="flexRowContainer">
        {% for player in players %}
            <div class="opponentContainer">
                <h3>{{ player.name }}</h3>
                <p>{{ player.card1 }}</p>
                <p>{{ player.card2 }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>